body {
  height: 100vh;
  background-image: linear-gradient(rgb(230, 49, 49), rgb(240, 240, 80));
  color: rgb(207, 189, 165);
  font-family: 'Open Sans', sans-serif;
}

.title{
display: flex;
margin-left: 35%;
margin-top: 15%;
padding: 15px;
}

h1 {
  display: flex;
  font-size: 50px;
  color: antiquewhite;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

span::before {
  content: '';
  animation: word-swith 3s infinite;
}

@keyframes word-swith {
  0% {content: '💻'}

  50% {content: '🍰'}

  75% {content: '🐋'}

  100% {content: '🐱'}
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');