body {
  margin: 0;
  padding: 80px;
  display: flex;
  justify-content: center;
  background-color :rgb(41, 41, 41);

}

h1 {
  padding-top: 110px;
  color:rgb(184, 183, 181);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
}

ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 0, 30px;
  transform:  rotate(15deg) scale3d(10deg);
  background: rgb(8, 8, 8);
}

ul li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  transition: 0.3s;
  display: flex !important;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  font-size: 30px !important;
}

ul li:hover span {
  box-shadow: -1px 1px 1px 1px ( rgba(0, 0, 0, .1));
}

ul li:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

ul li:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}

ul li:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}

ul li:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}

ul li:hover span:nth-child(1) {
  transform: translate(0, 0);
  opacity: 0.2;
}

ul li:nth-child(2) span {
  background: #3b5999;
}

ul li:nth-child(3) span {
  background: #be3a80;
}

ul li:nth-child(4) span {
  background: #353636;
}

ul li:nth-child(1) span {
  background: #df5330;
}

ul li:nth-child(5) span
{
    background: #0d10c5;
}