body
{
    margin: 0;
    padding: 0;
    background: #262626;
}
.titulo{
    color: aliceblue;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10%;
    font-family: 'Poppins', sans-serif;
}
.center 
{
    top: 50%;
    display: flex;
    justify-content: center;
    margin-top: 60px;

    
   
}
.pulse
{
    width: 100px;
    height: 100px;
    background: #c7732f;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    font-family: verdana;
    animation: animate 2s linear infinite;
    text-align: center;
}
@keyframes animate
{
    0%
    {
        box-shadow: 0 0 0 0 rgba(199, 115, 47, 1), 0 0 0 0 rgba(55, 209, 201, 0);
    }
    30%
    {
        box-shadow: 0 0 0 20px rgba(55, 209, 201, 0), 0 0 0 0 rgba(199, 115, 47, 1)
    }

     80%
    {
        box-shadow: 0 0 0 50px rgba(55, 209, 201, 0), 0 0 0 30px rgba(55, 209, 201, 0);
    } 
    100%
    {
        box-shadow: 0 0 0 0 rgba(55, 209, 201, 0), 0 0 0 30px rgba(55, 209, 201, 0);
    }
} 